//--------------------------------
// VARIABLES DE PALETA DE COLOR
//--------------------------------

$texto:#111111;
$principal:#12AFAF;
$secundario: #009500;


html{
    font-size: 15px;
}

body{
    font-family: 'Open Sans', sans-serif;
    color: $texto;
    
 

}


.bienvenidos{
    background:url("../img/imágenes/imagen-de-fondo-section1_03.jpg") no-repeat center top;  /* (CENTER) centrade de manera hosizontal (TOP) Esta hacia arriba en eje vertical */
    color:#fff;
    background-size: cover;
    height:100vh;  /*-----OCUPA EL 100% DE LARGO DEL TAMAÑO DE  LA PANTALLA */
    display:flex;
    flex-direction:column;
}   

.encabezado{
    background:$texto;
    color: #fff;
    padding: .5rem 0 ;
}


.encabezado .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
   
}

.container .logo img{
    width:150px;
    height: auto;
}



/*-------------------------------------------
//Estilos para botones de barra con los ICONOS
---------------------------------------------*/


.boton-buscar, .boton-menu{
    border: 0px;
    font-size: 2rem;
    margin:0;
    padding: 0.5rem;
    color: #fff;
    background: transparent;
}



.boton-buscar{
    margin-left:auto;
    margin-right: 0.5rem;
}



//------------------------------------------
/*ESTILOS BLOQUE BUSCAR*/
//------------------------------------------



#bloque-buscar{
    flex: 1 1 100%;
}


.contenedor-bloque-buscar{
    display: flex;
    height: 3rem;
    margin: 1rem 0;


}


.contenedor-bloque-buscar input[ type="text"]{

border-radius: 5px 0px 0px 5px;
border: 0;
padding: 1rem;
}



.contenedor-bloque-buscar input[ type="submit"]{
     flex: 1 1 100%;   /*importante para que abarque el espacio faltante en su 100%*/
border: 0;
border-radius: 0px 5px 5px 0px;
background:$principal;
color: #FFF;
}



#menu-principal {
    flex: 1 1 100%;
}


#menu-principal ul {
    list-style: none;
    padding: 0;
    margin: 1rem 0 0 0;
}


#menu-principal ul a {
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 0.8rem 0;     /*arriba (1 valor) - abajo(2 valor)*/
    border: top;
    border-top: 1px solid $principal;
    color:#fff;
    text-transform:uppercase;
}


#menu-principal ul a:hover{
    color: $principal;
}

#menu-principal ul li.active a{
    color: $principal;
}


.texto-encabezado{
    align-items:center;
    flex: 1 1 auto;
    display:flex;
   flex-wrap: wrap;
   justify-content: center;
}

.texto-encabezado text-center.container{
    margin-left: 15px;
    margin-right: 15px;
}



/*---------------------------*/
//ESTILOS TEXTO 1 SECTION
/*----------------------------*/




.display-4 {
    font-size: calc(2.8rem + 2.7vw);
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 2rem;
}

.texto-encabezado {
    margin-top: 2rem;
    margin-right:15px;
    margin-left:15px;

}

.texto-encabezado .display-4{
    margin-bottom: 3rem;
}

.btn-primary{
    color: #fff;
    border-color: transparent;
    background: $principal;
    margin-top: 1rem;
   
}

.btn-primary:hover, .btn-primary:focus,.btn-primary :active:hover
{   border-color: transparent;
    background:$secundario;
    transition: all .5s ease;
}



.flecha-bajar i{
    display:inline-block;
    font-size:3rem;
    color:#fff;
    margin-top: 1rem;
    animation:flecha-animada 2s ease-in-out infinite;
}


@keyframes flecha-animada{
    from{
        transform: translateY(0);
    }
    
    50%{
        transform:translateY(6px);
    }

    to{transform: translate(0);
    }
}
